<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snack.dao.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.snack.bean.Commodity">
    <id column="c_id" jdbcType="INTEGER" property="cId" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
    <result column="c_price" jdbcType="DECIMAL" property="cPrice" />
    <result column="t_id" jdbcType="INTEGER" property="tId" />
    <association property="comType" javaType="com.snack.bean.CommodityType">
      <id column="t_id" property="tId"/>
      <result column="t_name" property="tName"/>
    </association>
    <collection property="imgs" ofType="com.snack.bean.Img">
      <result column="c_id" property="cId"/>
      <result column="i_name" property="iName"/>
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    c.c_id, c.c_name, c.c_price, c.t_id, t.t_name,i.i_name
  </sql>
  <select id="selectCommodityLike" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_commodity c left join tb_c_type t on c.t_id=t.t_id left join tb_img i on c.c_id = i.c_id
    where c.c_name like "%"#{cName,jdbcType=VARCHAR}"%"
  </select>
  <select id="selectByExample" parameterType="com.snack.bean.CommodityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_commodity c left join tb_c_type t on c.t_id=t.t_id left join tb_img i on c.c_id = i.c_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_commodity c left join tb_c_type t on c.t_id=t.t_id left join tb_img i on c.c_id = i.c_id
    where c.c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_commodity
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.snack.bean.CommodityExample">
    delete from tb_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.snack.bean.Commodity" useGeneratedKeys="true" keyProperty="cId" keyColumn="c_id">
    insert into tb_commodity (c_name, c_price,
      t_id)
    values (#{cName,jdbcType=VARCHAR}, #{cPrice,jdbcType=DECIMAL},
      #{tId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.snack.bean.Commodity">
    insert into tb_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        c_id,
      </if>
      <if test="cName != null">
        c_name,
      </if>
      <if test="cPrice != null">
        c_price,
      </if>
      <if test="tId != null">
        t_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cPrice != null">
        #{cPrice,jdbcType=DECIMAL},
      </if>
      <if test="tId != null">
        #{tId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.snack.bean.CommodityExample" resultType="java.lang.Long">
    select count(*) from tb_commodity c
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_commodity
    <set>
      <if test="record.cId != null">
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cName != null">
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cPrice != null">
        c_price = #{record.cPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.tId != null">
        t_id = #{record.tId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_commodity
    set c_id = #{record.cId,jdbcType=INTEGER},
      c_name = #{record.cName,jdbcType=VARCHAR},
      c_price = #{record.cPrice,jdbcType=DECIMAL},
      t_id = #{record.tId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.snack.bean.Commodity">
    update tb_commodity
    <set>
      <if test="cName != null">
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cPrice != null">
        c_price = #{cPrice,jdbcType=DECIMAL},
      </if>
      <if test="tId != null">
        t_id = #{tId,jdbcType=INTEGER},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snack.bean.Commodity">
    update tb_commodity
    set c_name = #{cName,jdbcType=VARCHAR},
      c_price = #{cPrice,jdbcType=DECIMAL},
      t_id = #{tId,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>